#carousel {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.slide {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 95%;
    /* padding: 5% 5%; */
    border-radius: 12px;
}

.slide.active {
    display: flex;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.slide .thumb {
    border-radius: 12px;
    display: inline-block;
    position: relative;
    overflow: hidden
}

.slide .thumb img {
    border-radius: 12px;
    width: 100%;
    height: auto;
    object-fit: cover
}

.overlay-text {
  position: absolute;
  bottom: 10px;   /* position at bottom of image */
  left: 10px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
}