.contact-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--accent);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    z-index: 1000;
}

/* Desktop view (hidden on phones) */
.desktop-view {
    display: block;
}

.mobile-view {
    display: none;
}

.contact-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 0 10px;
}

#caller{
    cursor: default;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

/* Mobile buttons */
.mobile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 45%;
    margin: 0 5px;
    padding: 12px 0;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    color: var(--accent);
    background-color: #ffffff;
}

/* Responsive behavior */
@media (max-width: 768px) {
    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .site-footer{
        margin-bottom: 50px;
    }
}