#course-banner {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    padding: 7% 10%;
    padding-bottom: 4%;
    color: white;
    background-color: var(--accent);
}

#course-banner h1 {
    font-size: 2.5rem;
    word-spacing: 1.5px;
}

#course-banner p {
    line-height: 1.5;
    word-spacing: 1.5px;
}

#tag-wrapper {
    margin-top: 2%;
    display: flex;
    width: 100%;
    gap: 2%;
}

#foot-note {
    font-size: 18px;
    display: flex;
    width: 100%;
    gap: 10%;
    margin-top: 2%;
}

#course-main {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5%;
    gap: 2%;
}

#box {
    border-radius: 1rem;
    border: 1px solid #ddd;
    color: #333;
    margin-bottom: 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#box-header {
    display: flex;
    flex-direction: column;
    margin-top: 0.375rem;
    padding: 1.5rem;
}

#box-content{
    padding: 1.5rem;
    padding-top: 0;
}

#box-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

#grid-item{
    display: flex;
    gap: 0.75rem;
}

#grid-item span{
    font-size: 0.875rem;
}

#grid-item svg{
    height: 1.25rem;
    width: 1.25rem;
    color: var(--accent);
}

#text-section{
    min-width: 68%;
}