#section-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: 2rem;
    gap: 4rem;
}

#section-wrapper section {
    padding: 0% 2%;
}

#section-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.courses-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    gap: 2%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1%;
    cursor: pointer;
    border-radius: 12px;
    border: 0.8px solid var(--grey);
    box-shadow: var(--shadow);
    /* padding: 5% 0px; */
    padding-bottom: 5%;
    height: 100%;
    align-items: center;

    &:hover {
        box-shadow: var(--hover-shadow);
    }
}


.card-link {
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

#banner {
    position: relative;
    width: 100%;
}

#banner img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#banner iframe {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#card-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5%;
    padding-bottom: 3%;
    width: 100%;
}

#tag-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
}

.badge {
    color: var(--dark);
    background-color: var(--light-grey);
    padding: 0.4rem 0.5rem;
    border-radius: 8px;
    font-size: 12px;
    align-items: center;
    cursor: default;
}

#price {
    font-weight: 700;
    font-size: 18px;
}

#price h3 {
    font-weight: 700;
    font-size: 18px;
    width: fit-content;
    padding: 0;
}

#card-content h3 {
    font-weight: 600;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    margin-bottom: 0.25rem;
}

#card-content p {
    color: var(--dark-grey);
    font-size: 14px;
}

#enroll {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 95%;
    color: var(--bg);
    background-color: var(--accent);

    &:hover {
        background-color: var(--hover-accent);
    }
}

#card-inclusions {
    font-weight: 400;
    margin-top: 1em;
}


.faq-heading {
  font-family: Lato;   
  font-weight: 400;
  font-size: 19px;
   -webkit-transition: text-indent 0.2s;
  text-indent: 20px;
  color: #333;
}

.faq-text {
  font-family: Open Sans;   
  font-weight: 400;
  color: #919191;
  width:95%;
  padding-left:20px;
  margin-bottom:30px;
}

.faq {
  width: 1000px;
  margin: 0 auto;
  background: white;
  border-radius: 4px;
  position: relative;
  border: 1px solid #E1E1E1;
}
.faq label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 56px;
  padding-top:1px;
 
  background-color: #FAFAFA;
  border-bottom: 1px solid #E1E1E1;
}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faq-arrow {
  width: 5px;
  height: 5px;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgba(0, 0, 0, 0.33);
  border-right: 2px solid rgba(0, 0, 0, 0.33);
  float: right;
  position: relative;
  top: -30px;
  right: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

 .faq input[type="checkbox"]:checked + label > .faq-arrow {
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
 .faq input[type="checkbox"]:checked + label {
  display: block;
  background: rgba(255,255,255,255) !important;
  color: #4f7351;
  height: 225px;
  transition: height 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

 .faq input[type='checkbox']:not(:checked) + label {
  display: block;
  transition: height 0.8s;
  height: 60px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

::-webkit-scrollbar {
  display: none;
}



@media (max-width: 850px) {
    .courses-row {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}