#section-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: 2rem;
}

#section-wrapper section {
    padding: 0% 2%;
}

#section-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.courses-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1%;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid;
    padding: 5% 0px;
    height: 100%;
    /* outline-color: color-mix(in oklab,oklch(70.8% 0 0)50%,transparent); */
    /* box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow); */
}

#banner{
    position: relative;
}

#banner img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

#card-content{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5%;
}

#card-content h3{
    line-clamp: 2;
    -webkit-line-clamp: 2;
    margin-bottom: 0.25rem;
}