#section-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: 2rem;
    gap: 4rem;
}

#section-wrapper section {
    padding: 0% 2%;
}

#section-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.courses-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1%;
    cursor: pointer;
    border-radius: 12px;
    border: 0.8px solid oklch(0.922 0 0);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* padding: 5% 0px; */
    padding-bottom: 5%;
    height: 100%;
    align-items: center;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

#banner {
    position: relative;
    width: 100%;
}

#banner img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#card-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5%;
    padding-bottom: 2%;
    width: 100%;
}

#tag-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
}

.badge {
    color: oklch(20.5% 0 0);
    background-color: oklch(97% 0 0);
    padding: 0.5rem 0.75rem;
    border-radius: 12px;
    font-size: 12px;
    align-items: center;
}

#price {
    font-weight: 700;
    font-size: 18px;
}

#card-content h3 {
    line-clamp: 2;
    -webkit-line-clamp: 2;
    margin-bottom: 0.25rem;
}

#enroll {
    margin-top: 15%;
    margin-bottom: 4%;
    width: 95%;
    color: white;
    background-color: var(--accent);

    &:hover {
        background-color: oklch(0.488 0.243 264.376);
    }
}